* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Major Mono Display", monospace;
    background-image: linear-gradient(to left, #e2efef,  #404444);
}
.container {
    width: 1200px;
    margin: 0 auto;
}

@mixin button {
    padding: 7px 20px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #595a5c;
    font-size: 16px;
    font-weight: 700;
    transition: .2s ease-in-out;
    margin-bottom: 20px;
    &:hover {
        background-color: #b7acac;
        color: #f6f7f9;
    }
    &:active {
        background-color: #8a8484;
        color: #ffffff;
    }
}

.button {
    @include button;
}
.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #0A0D17;
    min-height: 80vh;
    padding: 20px;
    margin-top: 100px;
    &--right {
        width: 50%;
        border-left: 0.1px solid #fff;
        height: 90%;
        padding: 0 20px;
        margin-top: 50px;
        img{
            position: absolute;
        }
        &--form {
            display: none;
            &--label{
                color: #fff;
            }
            input{
                display: flex;
                font-family: "Major Mono Display", monospace;
            }
            &--btn {
                margin-top: 20px;
            }
        }
    }

    &--left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--form {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            width: 80%;
            &-title{
                font-size: 34px;
                font-weight: 900;
                margin: 20px 0;
                color: #ffffff;
            }
            &-input {
                padding: 10px 0;
                width: 70%;
                border: none;
                border-bottom: 2px solid grey;
                text-indent: 0;
                background-color: transparent;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                outline: none;
                text-indent: 20px;
            }
        }
        &--buttons {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 40%;
        }
    }
}

.sort-by {
    display: none;
}
.darkBg {
    background-color: #0A0D17;
}
.redBg {
    background-color: #d96659;
}
.greenBg {
    background-color: #9ee76a;
}
.orangeBg {
    background-color: #903504;
}
.exit-btn{
    position: absolute;
    bottom: 0;
    right: 20px;
    display: none;
}
.show-car-list{
    color: #fff;
}
#delete-cross {
    width: 20px;
    border: none;
    outline: none;
    display: flex;
}
#sort-by {
    background-color: rgb(240, 226, 226);
    color: #0A0D17;
    border: none;
    padding: 4px 15px;
    border-bottom: #8a8484 1px solid;
    border-radius: 2px;

}
#sort-form{
    display: flex;
    align-items: center;
    gap: 5px;
}
#sort-btn-icon {
    img{
        width: 20px;
    }
}
.sort-btn-icon{
    display: none;
}
.delete-form{
    display: none;
}
.search-form {
    display: none;
    img{
        width: 20px;
    }
}
// ====
.show-btns {
    display: none;
}
.show {
    display: flex;
}
.show-block {
    display: block;
}
.hide {
    display: none;
}